@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap');

body {
    font-family: 'Zen Kaku Gothic New', 'sans-serif';
}

/* Set scrollbar styles */
*::-webkit-scrollbar {
    width: 8px; /* Adjust the width as desired */
}

/* Track styles */
*::-webkit-scrollbar-track {
    background: transparent; /* Adjust the background color as desired */
}

/* Handle styles */
*::-webkit-scrollbar-thumb {
    background: rgba(18, 18, 18, 0); /* Adjust the color of the scrollbar handle as desired */
    border-radius: 4px; /* Adjust the border-radius as desired */
}

@media (max-height: 600px) {
    #indexHeaderButtons {
        display: none;
    }
}
