{% extends "recipeninja/layout.html" %}
{% load static %}


{% block body %}
        
    <div id="mainLayout" class="flex flex-col space-y-2 min-[1100px]:flex-row min-[1100px]:space-x-8 min-[1100px]:space-y-0 smooth duration-500 opacity-0">

        <!-- Header Image -->
        <div class="relative w-full min-[1100px]:w-[50%] min-[1100px]:h-[calc(100vh-150px)] flex">
            <!-- Ninja Image -->
            <img 
                src="{% static 'recipeninja/ninja-cooking.png' %}" 
                alt="RecipeNinja Cooking"
                class="w-full rounded-2xl object-cover mb-5 brightness-[0.8]
                        h-[150px] min-[340px]:h-[320px] min-[390px]:h-[350px] min-[450px]:h-[400px] min-[1100px]:h-full bg-[var(--black)]"
            >
    
            <!-- Text -->
            <div 
                class="absolute top-0 left-0 px-5 py-4 font-bold text-fade glow xl:px-8 
                        leading-6 min-[340px]:leading-auto
                        text-xl min-[340px]:text-5xl min-[390px]:text-6xl min-[450px]:text-7xl md:text-8xl"
            >
                <p>Master</p>
                <p>the way</p>
                <p>of cooking.</p>
            </div>
            
            <!-- Buttons -->
            <div 
                id="indexHeaderButtons"
                class="absolute bottom-[20px] min-[340px]:bottom-[40px] md:bottom-[30px] min-[1100px]:bottom-[60px] left-0 px-5 py-4 xl:px-8 
                        flex space-x-2 min-[340px]:space-x-0 min-[340px]:flex-col min-[340px]:space-y-2 md:flex-row md:space-y-0 md:space-x-4"
            >
                <!-- Registration button -->
                {% if not user.is_authenticated %}
                    <a href="{% url 'register' %}">
                        <button 
                            class="rounded-md bg-gradient-to-tr from-[#ececec] to-[#ececec]/80 font-[500] smooth hover:scale-105
                                    p-1 min-[340px]:p-2
                                    w-[80px] min-[340px]:w-[150px] min-[390px]:w-[200px]"
                        >
                            <div 
                                class="text-[var(--black)] 
                                        text-[8px] min-[340px]:text-base min-[390px]:text-xl"
                            >
                                Become a Ninja
                            </div>
                        </button>
                    </a>
                {% endif %}
    
                <!-- Browse button -->
                <a href="{% url 'explore' %}">
                    <button 
                        class="rounded-md bg-gradient-to-tr from-[#121212] to-[#121212]/80 font-[500] group smooth hover:scale-105
                                p-1 min-[340px]:p-2
                                w-[80px] min-[340px]:w-[150px] min-[390px]:w-[200px]"
                    >
                        <div 
                            class="text-fade group-hover:glow smooth
                                    text-[8px] min-[340px]:text-base min-[390px]:text-xl"
                        >
                            Start exploring
                        </div>
                    </button>
                </a>
            </div>
        </div>
    
        <!-- Cuisines -->
        <div class="w-full min-[1100px]:h-[calc(100vh-150px)] min-[1100px]:w-[50%] overflow-hidden">
            <div 
                class="flex flex-col space-y-3 min-[450px]:space-y-8 items-center h-full
                        min-[1100px]:overflow-x-hidden min-[1100px]:overflow-y-auto min-[1100px]:w-[48vw]"
            >
                <div class="heading font-[500] text-2xl min-[450px]:text-3xl min-[540px]:text-4xl text-center">
                    What do you like?
                </div>
                <div id="cuisineCarousel" class="grid grid-cols-2 min-[340px]:grid-cols-3 gap-x-4 sm:gap-x-12 md:gap-x-20 min-[1100px]:gap-x-6 min-[1200px]:gap-x-12 gap-y-4">
                    {% for cuisine in cuisines  %}
                        <a 
                            href="{% url 'explore' %}?cuisine={{ cuisine.name }}"
                            class="relative aspect-square rounded-full bg-[var(--black)]
                                    flex items-center justify-center overflow-hidden group cursor-pointer smooth hover:rotate-[20deg]
                                    w-[90px] h-[90px] min-[450px]:w-[120px] min-[450px]:h-[120px] min-[540px]:w-[150px] min-[540px]:h-[150px]"
                        >
                            <img 
                                loading="lazy"
                                src="{{ cuisine.cover.url }}" 
                                alt="{{ cuisine.name }} Cover" 
                                class="w-full h-full brightness-50 smooth group-hover:brightness-[0.8] object-cover"
                            >
                            <div class="absolute font-[900] text-fade text-sm min-[450px]:text-lg glow smooth group-hover:text-[var(--white)] group-hover:scale-[1.4]">{{ cuisine.name }}</div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
                        
{% endblock %}


{% block script %}

    <script src="{% static 'recipeninja/scripts/index.js' %}?{% now 'U' %}"></script>

{% endblock %}